{{ form_open({'url': product.configuration.route('cart.add'), 'method': 'post'}) }}

<input type="hidden" name="product" value="{{ product.id }}">

{% for option in product.options %}
    <div class="form-group">

        <label>{{ option.display_name }}</label>

        <br>

        <select data-toggle="configuration" name="options[{{ option.id }}]" class="form-control">
            {% for value in product.getAvailableOptionValues(option) %}
                <option value="{{ value.id }}" {{ product.configuration.option_values.find(value.id) ? 'selected' }}>
                    {{ value.label }}
                </option>
            {% endfor %}
        </select>

    </div>
{% endfor %}

<div class="form-group">
    <label>Quantity</label>
    <input class="form-control" type="number" name="quantity" value="1"/>
</div>

<button class="btn btn-primary btn-lg">
    {{ icon('fa fa-shopping-cart') }} Add to cart
</button>

{{ form_close() }}
