<h1>
    {{ product.title }}
</h1>

<small class="text-muted">{{ product.sku }}</small>

<h3>
    {% if product.sale %}
        <span class="text-muted" style="text-decoration: line-through;">{{ product.regular_price.currency }}</span>

        {{ product.sale_price.value ? product.sale_price.currency : 'FREE' }}
    {% else %}
        {{ product.regular_price.value ? product.regular_price.currency : 'FREE' }}
    {% endif %}
</h3>

<p>
    {{ product.description }}
</p>

<div class="tags">

    {% if product.tags %}
        {% for tag in product.tags.value %}
            <a href="{{ url_route('anomaly.module.store::tags.view', {'tag': tag}) }}" class="label label-info">
                {{ tag }}
            </a>&nbsp;
        {% endfor %}
    {% endif %}

</div>
