<h1>
    {{ product.title }}
</h1>

<ul class="list-inline">
    <li class="list-inline-item">
        <small class="text-muted" data-configuration-sku>{{ product.sku }}</small>
    </li>
    <li class="list-inline-item">
        <small class="text-danger"
               data-configuration-inventory>
            {% if product.configuration.isOutOfStock() %}
                {% if product.configuration.canBackorder() %}
                    Backorder
                {% else %}
                    Out of Stock
                {% endif %}
            {% elseif product.configuration.isLowInventory() %}
                Only {{ product.configuration.quantity }} left!
            {% endif %}

        </small>
    </li>
</ul>

<h3 data-configuration-price>
    {% if product.on_sale.true %}
        <span class="text-muted" style="text-decoration: line-through;">{{ product.regular_price.currency }}</span>

        {{ product.sale_price.value ? product.sale_price.currency : 'FREE' }}
    {% else %}
        {{ product.regular_price.value ? product.regular_price.currency : 'FREE' }}
    {% endif %}
</h3>

<p>
    {{ product.description }}
</p>

<div class="tags">

    {% if product.tags %}
        {% for tag in product.tags.value %}
            <a href="{{ url_route('anomaly.module.products::tags.view', {'tag': tag}) }}" class="label label-info">
                {{ tag }}
            </a>&nbsp;
        {% endfor %}
    {% endif %}

</div>
